<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.M3">
        <activity
            android:name=".Support"
            android:exported="false" />
        <activity
            android:name=".InitialSettingsCompleted"
            android:exported="false" />
        <activity
            android:name=".ProfileOptions.MoodAnalysis"
            android:exported="false" />
        <activity
            android:name=".ProfileOptions.JournalLogs"
            android:exported="false" />
        <activity
            android:name=".ProfileOptions.SeeRanking"
            android:exported="false" />
        <activity
            android:name=".ProfileOptions.ViewProfile"
            android:exported="false" />
        <activity
            android:name=".InitialSettings.InitialExercisesSettings"
            android:exported="false" />
        <activity
            android:name=".InitialSettings.InitialVisualizationSettings"
            android:exported="false" />
        <activity
            android:name=".InitialSettings.InitialAffirmationsSettings"
            android:exported="false" />
        <activity
            android:name=".InitialSettings.InitialSilenceSettings"
            android:exported="false" />
        <activity
            android:name=".Savers.Journaling"
            android:exported="false" />
        <activity
            android:name=".Savers.Reading"
            android:exported="false" />
        <activity
            android:name=".Savers.Exercises"
            android:exported="false" />
        <activity
            android:name=".Savers.Visualization"
            android:exported="false" />
        <activity
            android:name=".Savers.Affirmations"
            android:exported="false" />
        <activity
            android:name=".Savers.ActivityCompleted"
            android:exported="false" />
        <activity
            android:name=".Savers.Silence"
            android:exported="false" />
        <activity
            android:name=".Intros.About"
            android:exported="false" />
        <activity
            android:name=".SystemSettings"
            android:exported="false" />
        <activity
            android:name=".Intros.IntroScreen3"
            android:exported="false" />
        <activity
            android:name=".Intros.IntroScreen2"
            android:exported="false" />
        <activity
            android:name=".Intros.IntroScreen1"
            android:exported="false" />
        <activity
            android:name=".Account.CreateNewAccount"
            android:exported="false" />
        <activity
            android:name=".Account.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Account.LogIn"
            android:exported="false" />
        <activity
            android:name=".Intros.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Extras.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>